[Desktop Entry]
Name=AsusCtl GUI
Comment=Control ASUS laptop settings
Exec=python3 /opt/asusctl-gui/main.py
Icon=asus_notif_blue
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=asus;battery;fan;gpu;performance;
StartupNotify=true
StartupWMClass=main